/* AVAILABLE FONT FAMILIES: OXYGEN, PRESS START 2P */

:root {
    --base-font: "Oxygen";
    --fun-font: "Press Start 2P";
    --back-color: hsl(217, 82%, 85%);
    --back2-color: white;
    --text-color: white;
    --text2-color: #020242;
    --button-color: hsl(217, 54%, 33%);
    --quizbox-color: white;
    --quiztext-color: hsl(217, 54%, 33%);
    --accent-color: rgb(133, 20, 20);    
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxygen";
    background: var(--back-color, 50%);    
    color: var(--text2-color);
}

/* BEGIN HIGH SCORE STYLING */
.high_score_navigation {
    background-color: var(--back2-color);
    color: var(--text2-color);
    font-weight: bold;
    padding: 15px;
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer; 
    display: block;             /* hide high score */ 
}

.high_score_turnOff {
    display: none;
}

.high_score_turnOn {
    display: block;
}

/* BEGIN STYLING OF WELCOME/BEGIN SCREEN */

.start_box {
    display: block;             /* hide start box */
}

.start_box_turnOff {
    display: none;
}

.start_box_turnOn {
    display: block;
}

.start_page_header {
    font-size: 80px;
    font-weight: bold;
    text-align: center; 
    margin: 75px 0 0 0;     
}

.start_text {
    font-size: 60px;
    text-align: center;
    margin: 150px 0px;
}
/* end styling */

/* BEGIN STYLING OF BEGIN BUTTON */
.begin-btn {
    position: absolute;
    top: 60%;
    left: 40%;
    background-color: var(--button-color);
    color: var(--text-color);
    font-size: 35px;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all .3s ease;
    z-index: 9;
}

.begin-btn:hover {
    opacity: 50%;
}

/* end styling of begin button */

/* BEGIN STYLING OF RULES BOX */
.rules_box {
    background-color: var(--back2-color);
    border: solid;
    border-color: var(--text2-color);
    border-radius: 10px;
    border-width: 5px;
    position: absolute;
    top: 12%;
    left: 8.5%;
    display: none;               /* hide rules box */    
}

.rules_box_turnOn {
    display: block;
}

.rules_box_turnOff {
    display: none;
}

.rules_text {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding: 35px 0;
}

.rules_details {
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    padding: 10px 25px;
}

.rules_details span {
    font-weight: 700;
    font-size: 35px;
    color: var(--accent-color);
}

.rules_buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 15px 30px; 
    text-align: center;   
}

.rules_buttons button {
    background-color: var(--button-color);
    color: var(--text-color);
    font-size: 30px; 
    border-radius: 10px;
    width: 200px;
    height: 100px;
    cursor: pointer;
    transition: all .3s ease;
}

.rules_buttons .quit {
    background-color: var(--back2-color);
    color: var(--text2-color);
    border: solid;
    border-color: var(--button-color);
    margin-left: 60px;    
}

.rules_buttons .quit:hover {
    background-color: var(--button-color);
    opacity: 33%;
}

.rules_buttons .start:hover {
    opacity: 66%;
}
/* end rules box styling */

/*BEGIN COUNTDOWN STYLING */
/* end countdown styling */
.start_question {
    display: none;
}

.start_question_turnOn {
    display: block;
}

.start_question_turnOff {
    display: none;
}

/* BEGIN QUIZ BOX STYLING */
.quiz_box {
    display: flex;
    background-color: var(--back2-color);
    border: solid;
    border-color: var(--text2-color);
    border-radius: 10px;
    border-width: 5px;
    width: 1000px;
    height: 600px;
    flex-wrap: wrap;
    align-items: flex-start;
    position: absolute;
    top: 5%;
    left: 15%;
    z-index: 4;    
}

.question {
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    padding: 35px 15px;
}

.quiz_box .answer_details {
    background-color: var(--button-color);
    color: var(--text-color);
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    width: 850px;
    height: 75px;
    cursor: pointer;
    transition: all .3s ease;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    padding: 15px 15px;
    margin: 5px 70px;
}

.answer_details:hover {
    opacity: 50%;
}

.next {
    background-color: var(rgb(107, 9, 9));
    color: var(--text2-color);
    display: inline-flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 10px 40px; 
    margin: 5px 0 0 425px;
    text-align: center;
    font-size: 25px; 
    border-radius: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: all .3s ease;    
}

.next:hover {
    background-color: grey;
}

/* BEGIN TIMER/SCORE BOX STYLE */
.timer-box {
    background-color: var(--back2-color);
    color: var(--text2-color);
    font-size: 18px;
    height: 75px;
    width: 150px;
    border: solid;
    border-color: var(--text2-color);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 5%; 
    left: 85%;
}

.seconds {
    font-weight: 600;
}

.calculated-score {
    font-weight: 600;
}

.timer {
    padding: 10px 0 10px 0;
}
/* end timer/score box style */